ul{
    margin:  0 0 0 0;
    display: flex;
    padding: 0;
    list-style-type: none;

}
ul > li > p{
    font-weight: bolder;

}.Navigation-bar{
     width: 100vw;
     background-color: #313131;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     padding: 4px;
     color: #f1f1f1;
     font-weight: bolder;
     font-family: 'Lato', sans-serif;
    border-bottom: solid 2px #f1f1f1;
 }
.Brain{
    border-radius: 50%;
    margin-left: 5%;
    float: left;
}
.circle-text {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    background: url("../assets/git.svg");
}
.circle-text-fb {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     color: #fff;
     background: url("../assets/fb.svg");
 }
