.PopUp-container{
    width: 50vw;
    height: 50vh;
    display: flex;
    position: absolute;
    color:white;
    background:transparent;
    top:10%;
    left: 25%;
    z-index: 150;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 16pt;
    padding: 15px;

}
.Paragraph-wrapper{
    display: flex;
    flex-direction: column;
    font: italic bold 20px/30px Georgia, serif;
}
.Paragraph-wrapper h1{
    font: italic bold 60px/30px Georgia, serif;
    text-align: center;
    font-weight: bolder;
}
.Paragraph{
    margin: 0;
    padding: 5px;

}
.Arrow-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 10vw;
    margin-top: 15%;
    position: fixed;
}
.Arrow-button{
    transition: 0.5s ease;
    border-radius: 50%;
    opacity: 0.7;
    cursor: pointer;
}
.Arrow-button:hover{
    opacity: 1;

}
.Logo-button{
    border-radius: 50%;
}

.Visit-wrapper{
    display: flex;
    flex-direction: row;

}
.Git-logo{
    opacity: 0.5;
    cursor: pointer;
    transition: 0.5s ease;
}
.Git-logo:hoveR{
    opacity:1;
}
p>span{
    cursor:pointer;
    transition: 0.5s ease;
    font-weight: bolder;
    color:darkred;
    opacity: 0.7;
}
span:hover{
    color:indianred;
    opacity: 1;
}