.Mnist-container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(black,#111111);
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: space-around;
}
/* Board styles*/
.Drawing-board-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 5%;
    padding: 0;
    flex: 1;
}

.Simple-button{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;.
    background-color: transparent;
    color:#cccccc;
    font-weight: bolder;
    padding: 12px;
    border-radius: 20px;
    font-size: 24pt;
    min-width: 100px;
    min-height: 30px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin:5%;

}
.Simple-button:focus{
    background-color: maroon;

}
.Simple-button:hover{
    background-color: #f1f1f1;
    color: black;
}
.Rubber:after{
    border: solid 2px green;
}

.Nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.Drawing-board-container  input{
    width: 50px;
    color: #f1f1f1;
    background-color: #222222;
    border-radius: 3px;
    border: solid 2px #f1f1f1;
    font-size: 12pt;
    margin-left: 4px;
}

.Draw-canvas{
    border: dashed 4px #cccccc;
    cursor: crosshair;
    border-radius: 10px;
    background-color: black;

}


/* Prediction */
.Prediction-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex: 2;
}
.Prediction-container>div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    color: #cccccc;
    font-size: 48pt;
    font-weight: bolder;
}
