.Content-box{
    background: linear-gradient(black,#111111);
    display: flex;
    padding: 0;
    color: #cccccc;
    text-align: center;
}
.Input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 2px #f1f1f1;
    justify-content: center;
    flex: 1;
}
.Input-box span {
    color: #f1f1f1;
    font-weight: bolder;
    font-size: 200pt;
    transition: 0.3s ease;
}
.Input-box>span:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
    cursor: default;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(0, -20px, 0);
    }

    20%, 80% {
        transform: translate3d(0, 20px, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(0, -20px, 0);
    }

    40%, 60% {
        transform: translate3d(0, 20px, 0);
    }
}
.Image-input{
    z-index: -1;
}
.Image-input-label{
    font-weight: bolder;
    font-size: 24pt;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px;
    transition: 0.5s ease;
}


.Image-input-label:hover{
    background-color: #f1f1f1;
    color: #212121;
}


.Input-box > span{
    font-size: 72pt;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.5s ease;
}
.Input-box >span:hover{
    color: #800000;
    cursor: pointer;
}

/*Image container box styles*/

.Image-box{
    flex: 2;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.Image-box button{
    color: #222222;
    font-weight: bolder;
    font-size: 32pt;
    background-color: #cccccc;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.3s ease;
}
.Image-box button:hover{
    color:#f1f1f1;
    background-color: #111111;
}
.Image-box canvas{
    border: dotted 2px #f1f1f1;
}
.Canvas-wrapper{
    display: flex;
    flex-direction: column;
    margin: 2%;
    font-size: 48pt;
    font-weight: bolder;
}
.Button-wrapper{
    display: flex;
    flex-direction: column;
    margin: 1%;
}


