.Footer-container{
    background-color: #222222;
    display: flex;
    justify-content:center;
    margin: 0;
    padding: 0;
    color:#f1f1f1;

}

.Project-name-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 2;
}
.Project{
    font-size: 18pt;
    font-family:Comic Sans MS, cursive, sans-serif;
    font-weight: bolder;
}
.Copyright{
    font-size: 8pt;
    margin-top: 5%;
    flex:10
}
.Info{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.Info ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.Info ol li{
    font-size: 10pt;
}
.Info h2{
    margin:0;
}
.Info ol li span{
    margin-right: 1px;
}
.Info ol li a:hover {
    color: cornflowerblue;
}
.Info p{
    font-size: 10pt;
}


.Footer-container ul {
    margin-right: 1%;
    padding: 0;
    display: flex;
}
.Footer-container ul li {
    margin: 2%;
}

a:hover{
    color: cornflowerblue;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: #f1f1f1;
}
h2 > ol > li {
    margin-top: 1%;
}